:root{
    --border: 2px;
    --width-desktop: 1200px;

    --primary-color: #194151;
    --text-color: #fff;
    --ico-width-height: 35px;
    --logo-width-height: 80px;
    --header-height-mobile: 11vmin;
    --header-height-desktop: 10vmin;
    --menu-transition: 1s;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

/* ---------------HEADER -----------------------*/

.header{
    background-color: var(--primary-color);
    width: 100%;
    height: var(--header-height-mobile);
}

.menu-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text,
.menu-link,
.footer-text{
    color: var(--text-color);
}

.menu-desktop{
    display: none;
}

.ico{
    width: var(--ico-width-height);
    height: var(--ico-width-height);
    padding: .3em;
    fill: var(--text-color);
    cursor: pointer;
}

.menu-main{
    background-color: var(--primary-color);
    padding-left: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 100;

    transform: translateX(-100%);
    transition: transform var(--menu-transition);
}

.menu__active{
    transform: translateX(0);
    transition: transform var(--menu-transition);
}

.menu-item{
    border-bottom: var(--border) solid var(--text-color);
    position: relative;
    padding: 1em;
}

.menu-link{
    text-decoration: none;
    display: block;
    padding: .4em;
}

.menu-link:hover{
    transform: scale(1.2);
    transition: transform var(--menu-transition);
    border-bottom: 2px solid yellow;
    border-radius: 0.5em;
}

/*---------------------------------------*/

/*----------------MAIN----------------------*/

.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2em;
    margin: .7em 0;
    position: relative;
    border-bottom: 3px solid orange;
}

.form{
    display: inline-flex;
    overflow: hidden;
    border-radius: .5em;
    -webkit-box-shadow: 5px 10px 23px 4px rgba(0,0,0,1);
    -moz-box-shadow: 5px 10px 23px 4px rgba(0,0,0,1);
    box-shadow: 5px 10px 23px 4px rgba(0,0,0,1);
    margin-bottom: .5em;
}

.radio-input{
    display: none;
}

.radio-label{
    padding: 1em;
    color: var(--text-color);
    background-color: var(--primary-color);
    cursor: pointer;
    font-size: .8em;

    width: 100%;
}

.radio-input:checked + .radio-label{
    background-color: #39809f;
}

#drysi:checked ~ .products-container .table,
#drysi:checked ~ .products-container .desk,
#drysi:checked ~ .products-container .original{
    display: none;        
}
#taych:checked ~ .products-container .dresser,
#taych:checked ~ .products-container .desk,
#taych:checked ~ .products-container .original{
    display: none;        
}
#desks:checked ~ .products-container .table,
#desks:checked ~ .products-container .dresser,
#desks:checked ~ .products-container .original{
    display: none;        
}
#origin:checked ~ .products-container .table,
#origin:checked ~ .products-container .desk,
#origin:checked ~ .products-container .dresser{
    display: none;        
}

.section-products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
    padding-top: 0;
}

.products-container{
    list-style: none;
}

.product{
    padding: 0.5em;
}

.product{
    position: relative;
    width: 100%;
    height: 300px;
}

.description-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
}

.description-container:hover{
    opacity: 1;
}

.img-title{
    font-size: 3em;
    font-weight: bold;
}

.img-info{
    font-size: 1.6em;
}

/*------------ FOOTER --------------------*/
.footer{
    margin-top: auto;
    background-color: var(--primary-color);
    width: 100%;
    min-height: 12em;
    display: flex;
    justify-content: center;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.seller{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    min-height: 150px;
}

.logo-text{
    font-size: 2em;
    color: var(--text-color);
}

.footer-text{
    font-family: 'Marck Script', cursive;
    font-size: 1.5em;
    padding: .5em;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    min-height: 150px;
}

.social-fb-inst{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.ico-footer{
    height: 4em;
    width: 4em;
    padding: .5em;
}

.social-partners{
    display: flex;
    justify-content: center;
    /* align-items: ; */
}

.partners{
    width: 4.5em;
    height: 4.5em;
    margin: 0 1em;
    padding: .5em;
    cursor: pointer;
}
/* --------------------------------------*/


@media screen and (min-width: 730px){
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--header-height-desktop);
    }
    .header-container{
        width: var(--width-desktop);
    }
    .menu-mobile{
        display: none;
    }
    .menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-desktop{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
    }
    .logo{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: var(--logo-width-height);
        height: var(--logo-width-height);
        border: 3px double yellow;
        border-radius: 50%;
    }
    .logo-text{
        font-size: 2em;
        color: var(--text-color);
    }
    .logo__cursive{
        font-size: 1.2em;
        font-family: 'Marck Script', cursive;
    }
    .title-container{
        display: flex;
        flex-direction: column;
    }
    .menu-title{
        font-size: 2em;
    }
    .menu-main{
        transform: translateX(0);
        display: inline-flex;
    }
    .menu-item{
        display:block;
        border: none;
        text-align: center;
    }
    .main-container{
        width: var(--width-desktop);
    }    
/*     .section-products{
        display: flex;
        justify-content: center;
        align-items: center;
    } */
    .products-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(autofill, minmax(320px) 1fr);
    }
    .radio-label{
        position: relative;
        align-self: center;
        justify-content: center;


        font-size: 1em;
    }
    .footer-container{
        flex-direction: row;
        width: var(--width-desktop);
    }
    .seller{
        width: 60%;
        height: 100%;
    }
    .social{
        width: 40%;
        height: 100%;
    }
}