:root{
    --border: 2px;
    --width-desktop: 1200px;

    --primary-color: #194151;
    --text-color: #fff;
    --ico-width-height: 35px;
    --logo-width-height: 80px;
    --header-height-mobile: 11vmin;
    --header-height-desktop: 12vmin;
    --menu-transition: 1s;
}

@font-face{
    font-family: "Marck Script";
    src: url("../assets/fonts/MarckScript-Regular.ttf");
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

/* ---------------HEADER -----------------------*/

.header{
    background-color: var(--primary-color);
    width: 100%;
    height: var(--header-height-mobile);
}

.menu-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-text,
.menu-link,
.footer-text{
    color: var(--text-color);
}

.menu-desktop{
    display: none;
}

.ico{
    width: var(--ico-width-height);
    height: var(--ico-width-height);
    padding: .3em;
    fill: var(--text-color);
    cursor: pointer;
}

.menu-main{
    background-color: var(--primary-color);
    padding-left: 0;
    margin: 0;
    list-style: none;
    position: relative;
    z-index: 100;

    transform: translateX(-100%);
    transition: transform var(--menu-transition);
}

.menu__active{
    transform: translateX(0);
    transition: transform var(--menu-transition);
}

.menu-item{
    border-bottom: var(--border) solid var(--text-color);
    position: relative;
    padding: 1em;
    /* background-color: brown; */
}

.menu-link{
    text-decoration: none;
    display: block;
    padding: .4em;
}

.menu-link:hover{
    transform: scale(1.2);
    transition: transform var(--menu-transition);
    border-bottom: 2px solid yellow;
    border-radius: 0.5em;
}

/*---------------------------------------*/

/*----------------MAIN----------------------*/
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.section-title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 2em;
    margin: .7em 0;
    position: relative;
    border-bottom: 3px solid orange;
}

.section-slide{
    display: block;
    margin: 0;
    padding: 0;
}

.slide-container{
    max-width: 100%;
    min-height: 350px;
    margin: 0;
    padding: 0;
    display: block;
}

.section-popular
.section-new{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}

.popular-container,
.new-container{
    list-style: none;
}

.popular-item,
.new-item{
    /* border: 2px solid var(--text-color);
    background-color: lime; */

    padding: .5em;
}

.popular-link,
.new-link{
    position: relative;
    width: 100%;
    height: 320px;
}

.description-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: opacity 1s;
}

.description-container:hover{
    opacity: 1;
}

.img-title{
    font-size: 3em;
    font-weight: bold;
}

.img-info{
    font-size: 1.6em;
}

/*---form-section----*/

.section-contact{
    width: 90%;
    height: 750px;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    border: 2px solid orange;
    border-radius: .5em;
}

.form-title{
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 0;
    border: none;
}

.contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
}

.contact-info p{
    margin-bottom: .2rem;
}

.map-container{
    margin: .5rem auto;
    width: 320px;
}

.map{
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.map iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}

.form-container{
    width: 100%;
    padding: 0 1rem;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 350px;
}

.form-section{
    display: flex;
    justify-content: space-between;
}

.form-label{
    margin: .5rem;
    text-transform: uppercase;
    font-size: .9rem;
}

.form-input,
.form-message{
    min-width: 70%;
    border: 2px solid var(--primary-color);
    border-radius: .5rem;
}

.form-message{
    resize: none;
    min-height: 100px;
}

.form-summit{
    width: 40%;
    margin-left: 30%;
    background-color: var(--primary-color);
    border: none;
    padding: .8rem;
    border-radius: .5rem;
    text-transform: uppercase;
    color: var(--text-color);
}

/*------------ FOOTER --------------------*/
.footer{
    margin-top: auto;
    background-color: var(--primary-color);
    width: 100%;
    min-height: 12em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.seller{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
    min-height: 150px;
}

.logo-text{
    font-size: 2em;
    color: var(--text-color);
}

.footer-text{
    font-family: 'Marck Script';
    font-size: 1.5em;
    padding: .5em;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40%;
    min-height: 150px;
}

.social-fb-inst{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.ico-footer{
    height: 4em;
    width: 4em;
    padding: .5em;
}

.social-partners{
    display: flex;
    justify-content: center;
    align-items: center;
}

.partners{
    width: 7em;
    height: 7em;
    margin: 0 1em;
    padding: .5em;
    cursor: pointer;
}


/* --------------------------------------*/


@media screen and (min-width: 730px){
    /*----MENU----*/
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: var(--header-height-desktop);
    }
    .header-container{
        width: var(--width-desktop);
    }
    .menu-mobile{
        display: none;
    }
    .menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu-desktop{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
    }
    .logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--logo-width-height);
        height: var(--logo-width-height);
        border: 3px double var(--text-color);
        border-radius: 50%;
    }
    .logo__cursive{
        font-size: 1.2em;
        font-family: 'Marck Script';
    }
    .title-container{
        display: flex;
        flex-direction: column;
    }
    .menu-title{
        font-size: 2em;
    }
    .menu-main{
        transform: translateX(0);
        display: inline-flex;
    }
    .menu-item{
        display:block;
        border: none;
        text-align: center;
    }
    /*----MAIN----*/
    .main-container{
        width: var(--width-desktop);
    }
    .section-slide,
    .img-slide{
        width: 85%;
        max-height: 450px;
    }
    .popular-container,
    .new-container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .section-contact:not(h2){
        display: flex;
        width: 70%;
        height: 450px;
        align-content: center;
        border: 2px solid var(--primary-color);
    }
    .form-title{
        background-color: var(--primary-color);
        color: var(--text-color);
        width: 100%;
        margin: 0;
    }
    .info-form-container{
        display: flex;
        width: 100%;
        height: 100%;
    }
    .contact-info{
        max-width: 35%;
        background-color: var(--primary-color);
        color: var(--text-color);
    }
    .map-container{
        width: 250px;
    }
    .form-container{
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .form{
        width: 80%;
    }
    /*----FOOTER-----*/
    .footer-container{
        flex-direction: row;
        width: var(--width-desktop);
    }
    .seller{
        width: 60%;
        height: 100%;
    }
    .social{
        width: 40%;
        height: 100%;
    }
}